<p>This is change password page</p>

<%= form_for @user, url: update_password_path(@user), method: :patch do |f| %>
    <div class="field">
      <%= f.label "Password" %><br />
      <%= f.password_field :password, :autocomplete => "off"  %>
    </div>
    <div class="field">
      <%= f.label "Password Confirmation" %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="action_container">
      <%= f.submit %>
    </div>
<% end %>

<%= link_to "Back", welcomes_path%>