<h1><center>Welcome to CodeDocs</center></h1>

<p><%= @user.username.username %></p>
<%= link_to "Change Password", change_password_path %><br>
<%= link_to "Change Username", change_username_path %><br>

<table style="width:100%">
  <tr>
    <th>File Name</th>
  </tr>
  <% @editors.each do |editor| %>
    <tr>
      <td><%= editor.filename %></td>
      <td><%= link_to 'Edit', edit_editor_path(editor) %></td>
    </tr>
  <% end %>
</table>

<%= link_to "New Editor", newPage_path %><br>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>
