<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<div class="container">
  <!-- Trigger the modal with a button -->
<!--   <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

  
</div>

</body>


<%= @id %>
<center><h1>Editor</h1></center>


<%= form_for @default_content do |f| %>
  <%= f.text_area :content, :value => @default_content, data: { behavior: "room_editor" }, :cols => "80", :rows => "60" %>
<% end %>


<<<<<<< HEAD
<div>

    <center><h3>Chat</h3></center>

    <%= text_area_tag "names", nil, :rows => 4, :cols => 50 %>
    <div id="chatroom" class="container-fluid">
      <div class="row">
        <div id="sidebar" class="col-xs-3">
          <center><h3>Chat Room</h3></center>
          <form>
            <input type="text" id="chat" data-behavior="room_speaker">
          </form>
        </div>
        <div id="content" class="col-xs-9">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
</div>
=======
<div id="chatroom" class="container-fluid">
      <div class="row">
        <div id="sidebar" class="col-xs-3">
          <center><h3>Chat Room</h3></center>
          <form>
            <input type="text" id="chat" data-behavior="room_speaker">
          </form>
        </div>
        <div id="content" class="col-xs-9">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
</div>
>>>>>>> e450fc6758c8f35872e2dc4788d5404141704e38

    <form>
      <input type="text" placeholder="Say something..." id="chat" data-behavior="room_speaker">
    </form>


  <div id="content" class="col-xs-8">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

</div>


<<<<<<< HEAD
<div id="messages">
  <% unless @messages.blank? %>
    <%= render @messages %>
  <% end %>
</div>

<br>
=======
<div id="messages">
  <% unless @messages.blank? %>
    <%= render @messages %>
  <% end %>
</div>

<br>
>>>>>>> e450fc6758c8f35872e2dc4788d5404141704e38
